:root
{
    --main-color:#10CAB7;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Work Sans', sans-serif ;text-transform: capitalize;margin: 0;padding: 0;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
  /*===============container of logo and links ===========*/
.heading{
    position: sticky;z-index: 2;top: 0;background-color: white;
}
.container1
{
    margin-left:auto;margin-right: auto;width: 75vw;height: 11vh;
    display: flex;justify-content: space-between;align-items: center;
    
}
/* ===============================header================ */
.container1 .logo{
    width: 60px;
}
.container1 .links{
    position: relative;
}
.container1 .links:hover .icon span:nth-child(2){
    width: 40px;
}
.container1 .links:hover ul {
    opacity: 1;
}
.container1 .links .icon{
    width: 30px;display: flex;flex-flow: wrap;justify-content: flex-end;
}
.container1 .links .icon span{
    background-color: black;margin-bottom: 5px;
    width: 45px;height: 4px;border-radius: 2px;
    
}
.container1 .links .icon span:nth-child(2){
    background-color: black;margin-bottom: 5px;
    width: 15px;height: 4px;transition: 0.3s ease-in-out;
}
.container1 .links ul{
list-style: none;position: absolute;right: 0;
background-color:#EBEBEB;min-width: 180px;
margin: 0;padding: 0;top:calc(100% + 20px);
border-radius: 5px;transition: 0.5s ease-in-out;opacity: 0;
z-index: 1;
}
.container1 .links ul::before{
content: "";border-width: 10px;border-style: solid;border-color:  transparent transparent #EBEBEB transparent;
position:absolute;right: 5px;top: -20px;}
.container1 .links ul a
{
padding: 15px;display: block;text-decoration: none;
color: #333;transition: 0.3s ease-in-out;
}
.container1 .links ul a:hover
{
    padding-left: 25px;
}
.container1 .links ul li:not(:last-child) a{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
/* ==============================landibg================ */
.landing
{
    background-image:url(images/a.jpg);background-position: center;
    background-size: cover;background-repeat: no-repeat;
    height: 89vh;padding: 0;margin: 0;display: flex;
    justify-content: center;align-items: center;
    
}
.landing h1
{color:var(--main-color);text-align: center;}
.landing p{text-align: center;}
/* =============================features========================= */
.features{
    width: 100%;padding-top: 60px;
    padding-bottom: 60px;
    background-color: #F6F6F6;
}
.container2
{
    display: grid;grid-template-columns: repeat(auto-fill,minmax(310px,1fr));
    grid-gap: 20px;width: 75vw;margin: 0 auto;
}
.container2 div
{padding: 20px;text-align: center;height: 350px;}
.container2 div:hover{
    box-shadow: black 1px 2px 4px;transition: ease-in-out 0.5s;
}
.container2 p
{padding: 0 30px;font-size: 17px;line-height: 1.8;opacity: 0.7;}
.container2 h3
{font-weight: 800;}

.container2 img
{color: var(--main-color);width: 50px;}
/* =============================srvices========================= */

.services{
    padding-top: 20px;width: 100%;
    padding-bottom: 20px;
    background-color: #ffffff;
}
.container3{
    width: 75vw;margin: 0 auto;position: relative;
}
.container3 .img1
{
    width: 550px;position: absolute;
    z-index: 0;opacity: 0.25;right:0;bottom: 12vh;
}
.container3 .head
{
    text-align: center;padding-bottom: 50px;
}
.container3 .head h1{
    color: #acaeaf;opacity: 0.5;margin: 0;
    font-size: 126px;letter-spacing: 3px;
}
.container3 .head p{
    margin-top: -24px;font-size: 30px;color: var(--main-color);
    font-weight: 700;line-height: 0.5;margin-left: 113px;
}

.container3 .servs{
   width: 50vw;
   display: flex;flex-flow: row wrap;justify-content: space-evenly;
}
.container3 .servs div {
    width: 20vw;height: 20vw;
}

.container3 .img2
{
    max-width: 150px;display: inline;float: right;position: absolute;
    z-index: 0;left: 20px;
}
.servs img
{width: 40px;position: absolute;left: -50px;top: 15px;}
.s1,.s2,.s3,.s4{position: relative;}
/* responsive---------------- */
@media screen and (max-width:1100px) {
    .container3 .head h1
    {font-size: 13vw;}
.container3 .head p
{font-size: 2vw;margin-top: -16px;}
.container3 .img2
{width: 11.5vw;left: 0;}
.container3 .img1
{width: 50vw;bottom: 0;}
.container3 .servs div {
    width: 40vw;height: 20vw;
}
}    
@media screen and (max-width:820px) {
    .container3 .servs div {
        width: 40vw;height: 30vw;}
}
@media screen and (max-width:610px) {
    .container3 .servs div {
        width: 40vw;height: 60vw;}
}
@media screen and (max-width:430px) {
    .container3 .servs div {
        width: 40vw;height: 80vw;}
        .container3 .servs{margin: auto;
        }
}


/* ====================================projects======================= */
.projects{
    width: 100%;padding-top: 10px;
    padding-bottom: 60px;
    background-color: #F6F6F6;
}
.container4{width: 75vw;margin: 0 auto;}
.container4 .head
{
    text-align: center;padding-bottom: 60px;
}
.container4 .head h1{
    color: #acaeaf;opacity: 0.5;margin: 0;
    font-size: 126px;letter-spacing: 3px;
}
.container4 .head p{
    margin-top: -24px;font-size: 30px;color: var(--main-color);
    font-weight: 700;line-height: 1.5;margin-left: 113px;
}

.container4 .projs
{
    display: grid;grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-gap: 20px;
}
.container4 .projs div
{padding: 0;text-align: center;height: 350px;background-color: white;
height: fit-content;}
.container4 .projs div:hover{
    box-shadow: black 1px 2px 4px;transition: ease-in-out 0.5s;
}
.container4 .projs p
{padding:0;font-size: 17px;line-height: 1.8;opacity: 0.7;}
.container4 .projs h3
{font-weight: 800;padding:0px;}
.container4 .projs img{
    width: 100%;
}
/* =============================about=================================== --> */
.about{
    width: 100%;padding-top: 10px;
    padding-bottom: 60px;
    background-color: #ffffff;
}
.container5{width: 75vw;margin: 0 auto;}
.container5 .head
{
    text-align: center;padding-bottom: 60px;
}
.container5 .head h1{
    color: #acaeaf;opacity: 0.5;margin: 0;
    font-size: 146px;letter-spacing: 3px;
}
.container5 .head p{
    margin-top: -24px;font-size: 30px;color: var(--main-color);
    font-weight: 700;line-height: 0.5;margin-left: 113px;
}
.content img
{
    float: left;width: 300px;
}
.container5 .content p{
    font-size: 20px;line-height: 2.5;
}
/* =============================contact==================== */
.contact{
    width: 100%;padding-top: 10px;
    
    background-color: #dfdddd;
}
.container6{width: 75vw;margin: 0 auto;}
.container6 .head
{
    text-align: center;padding-bottom: 60px;
}
.container6 .head h1{
    color: #000000;opacity: 0.5;margin: 0;
    font-size: 146px;letter-spacing: 3px;
}
.container6 .head p{
    margin-top: -24px;font-size: 30px;color: var(--main-color);
    font-weight: 700;line-height: 0.5;margin-left: 113px;
}
.container6 .head2{
    color: #2C4755;text-align: center;
}
.container6 .head2 h1:first-child{
    font-size: 50px;
}

.container6 .head2 h1 a{
    color: var(--main-color);
}
.footer
{
    height: 10vh;width:100%;margin: 0;padding: 0;background-color: #2C4755;
    color: white;text-align: center;margin-top:50px ;
}
.footer p
{
 font-size: 20px;display: inline;
}
.container6 .head2 i{font-size: 50px;cursor: pointer;}
.container6 .head2 #far{-webkit-text-fill-color:#046bb4 ;}
.container6 .head2 #fat{-webkit-text-fill-color:#FF0000 ;}
.container6 .head2 #faz{-webkit-text-fill-color:#2AA9E0;}

/* responsive---------------- */
@media screen and (max-width:1100px) {
    .container3 .head h1
    {font-size: 13vw;}
.container3 .head p
{font-size: 2vw;margin-top: -16px;}
.container3 .img2
{width: 11.5vw;left: 0;}
.container3 .img1
{width: 50vw;bottom: 0;}
.container3 .servs div {
    width: 40vw;height: 20vw;
}
}    
@media screen and (max-width:820px) {
    .container3 .servs div {
        width: 40vw;height: 30vw;}
}
@media screen and (max-width:610px) {
    .container3 .servs div {
        width: 40vw;height: 60vw;}
    .container4 .head h1{font-size: 16vw;
    }.container4 .head p{font-size: 3vw;

}
@media screen and (max-width:550px) {
    .container3 .servs div {
        width: 40vw;height: 80vw;}
        .container3 .servs{margin: auto;
        }
        .container3 .head p
        {
        font-size: 4vw;margin-top: -10px;margin-left: 51px;}
        .container5 .head h1{
            
            font-size: 20vw;
        }
        .container5 .head p{
            margin-top: -6px;font-size:4vw;
        }
        
}
@media screen and (max-width:330px) {
    .container3 .servs div {
        width: 40vw;height: 140vw;}
}
}
@media screen and (max-width:700px) {
    .container6 .head h1{
        color: #000000;opacity: 0.5;margin: 0;
        font-size: 17vw;letter-spacing: 3px;
    }
    .container6 .head p{
        margin-top: -7px;font-size: 4vw;
        margin-left: 40px;
    }
    .container6 .head2 h1 a{
        font-size:5vw ;
    }.container2 div {
height: 389px;
    
    }.container4 .head p {margin-top: 0;margin-left: 4px;font-size: 4vw;
    } .container5 .content p
{
    font-size: 15px;
}   }

